<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phumiseto</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <div class="px-8 py-8">
        <div class="text-xl">Phumiseto's</div>
        <div class="pl-8 pt-4">
            <div class="text-lg font-bold">Basic info</div>
            <div class="flex pl-8">
                <div>
                    <p><b>Name:</b></p>
                    <p><b>Age:</b></p>
                    <p><b>Birthday:</b></p>
                </div>
                <div class="ml-2">
                    <p>{{name}}</p>
                    <p>{{age}}</p>
                    <p>{{birtday}}</p>
                </div>
            </div>
        </div>
        <div class="pl-8 pt-4">
            <div class="text-lg font-bold">Education</div>
            <div class="flex pl-8">
                <div>
                    <p><b>Bachelor's degree:</b></p>
                </div>
                <div class="ml-2">
                    <p>{{education}}</p>
                </div>
            </div>
        </div>
        <div class="pl-8 pt-4">
            <div class="text-lg font-bold">Working Experience</div>
            <div class="flex pl-8">
                <div>
                    <p><b>{{exp}}:</b></p>
                </div>
                <div class="ml-2">
                    <p>Software developer at <a class="hover:text-blue-800" href="https://www.facebook.com/oddsteam">ODDS</a></p>
                </div>
            </div>
        </div>
        <div class="pl-8 pt-4">
            <div class="text-lg font-bold">Other</div>
            <div class="flex pl-8">
                <div>
                    <p><b>Github:</b></p>
                    <p><b>Medium:</b></p>
                    <p><b>Twitter:</b></p>
                </div>
                <div class="ml-2">
                    <p><a class="hover:text-blue-800" href="{{github_url}}">{{github}}</a></p>
                    <p><a class="hover:text-blue-800" href="{{medium}}">{{medium}}</a></p>
                    <p><a class="hover:text-blue-800" href="{{twitter}}">{{twitter}}</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="ml-8">
        <p>Subscribe Me</p>
        <form method="POST" action=".">
            {% csrf_token %}
            {{ form.email }}
            <button type="submit">Subscribe</button>
        </form>
    </div>

</body>
</html>